@media (min-width: 1200px){
    .container {
        max-width: 1040px;
    }
}
.h1, h1 {
    font-size: 2.5rem;
}
.product-page .page-header.skew-separator:after{
    background: #fff!important;
}
.input-group-btn button{
    padding: 10px;
    border-radius: 0px;
}

.input-number{
    text-align: center;
}

.industry-search{
    position: absolute;
    background: #fff;
    z-index: 999;
    width: 60%;
    left: 20%;
    top: 20%;
}
.industry-search .form-group
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}